{% extends 'base.html.twig' %}

{% block title %}Nouveau lieu{% endblock %}

{% block body %}
    <h1>Crée un nouveau lieu</h1>

    {{ form_start(formLieu) }}

    {{ form_widget(formLieu) }}


    <button type="submit" class="btn btn-sm btn-primary">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(formLieu) }}


    <a href="{{ path('sortie_liste') }}">Retour</a>
{% endblock %}
