{% extends 'base.html.twig' %}

{% block title %}Liste des lieux{% endblock %}

{% block body %}
    <h1>Liste des lieux</h1>

    <a href="{{ path('lieu_ajouter_Lieu') }}" class="btn btn-sm btn-outline-success">Ajouter un lieu</a>

    <table class="table">
        <thead>
        <tr>
            <th>Ville</th>
            <th>Nom</th>
            <th>Rue</th>
            <th>Latitude</th>
            <th>Longitude</th>

        </tr>
        </thead>
        <tbody>
        {% for lieu in lieux %}
            <tr>
                <td>{{ lieu.ville }}</td>
                <td>{{ lieu.nomLieu }}</td>
                <td>{{ lieu.rue }}</td>
                <td>{{ lieu.latitude }}</td>
                <td>{{ lieu.longitude }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
