{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}

    <h1>Profil de {{ participant.pseudo }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Image</th>
            <td>
                <!-- Correct if the images are stored in 'public/img/photoProfil' -->
                <img src="{{ asset('img/photoProfil' ~ participant.filename) }}" alt="Image de profil" width="150" height="150">
            </td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ participant.prenom }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ participant.nom }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>{{ participant.telephone }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ participant.email }}</td>
        </tr>
        <tr>
            <th>Ville de rattachement</th>
            <td>{{ participant.site.nomSite }}</td>
        </tr>
        </tbody>
    </table>

    <div class="button-container">
        <a href="{{ path('sortie_liste') }}" class="btn btn-lg btn-success">Retour</a>

        {% if app.user and participant.id == app.user.id %}
            <a href="{{ path('participant_update', {'id': participant.id}) }}" class="btn btn-lg btn-success">Modifier mon profil</a>
        {% endif %}
    </div>

{% endblock %}