{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <h1>Edit Participant</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('participant_detail', {'id': app.user.id}) }}">back to list</a>

    {#    {{ include('participant/supprimer.html.twig') }}#}
{% endblock %}
