{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie {% endblock %}

{% block body %}
<article>
    <div>Nom de la sortie: {{ sortie.nomSortie }}</div>
    <div>Date et heure de la sortie: {{ sortie.dateHeureDebut|date('d-m-Y H:i') }}</div>
    <div>Ville organisatrice: {{ sortie.site.nomSite }}</div>
    <div>Lieu: {{ sortie.lieu.nomLieu }}</div>

    {{ form_start(annulationForm) }}
    {{ form_widget(annulationForm) }}
    <input type="hidden" name="id" value="{{ sortie.id }}">
    <button id="btn" type="submit" class="btn btn-sm btn-primary">Enregistrer</button>
    <a href="{{ path('sortie_annulation', {'id': sortie.id}) }}"
       class="btn btn-danger mt-2"
       title="Annulation sortie">Annuler</a>
    {{ form_end(annulationForm) }}

</article>
{% endblock %}