{% extends 'base.html.twig' %}

{% block title %}Ajoute ta sortie {% endblock %}


{% block body %}

<style>
    label, input {
        display: block;
        width: 100%;
        margin-bottom: 10px; /* Pour un espacement vertical entre les éléments */
    }
</style>

    <div>

        <div>
            {%  if  sortieForm.vars.value.id ==null%}
                <h2>Ajoute ta sortie !</h2>
            {% else %}
                <h2>Modifie ta sortie !</h2>
            {% endif %}


            {{ form_start(sortieForm) }}

            <div class="group">

                <label for="{{ field_name( sortieForm.nomSortie ) }}">Nom de la sortie: </label>
                <input type="text"
                       id="{{ field_name( sortieForm.nomSortie ) }}"
                       name="{{ field_name( sortieForm.nomSortie ) }}"
                       value="{{ field_value( sortieForm.nomSortie ) }}"
                       placeholder="{{ field_label( sortieForm.nomSortie ) }}"
                       class="form-control"
                >

                <label for="{{ field_name( sortieForm.dateHeureDebut ) }}">Date et heure de la sortie: </label>
                <input type="datetime-local"
                       id="{{ field_name( sortieForm.dateHeureDebut ) }}"
                       name="{{ field_name( sortieForm.dateHeureDebut ) }}"
                       value="{{ field_value( sortieForm.dateHeureDebut ) }}"
                       placeholder="{{ field_label( sortieForm.dateHeureDebut ) }}"
                       class="form-control"
                >

                <label for="{{ field_name( sortieForm.dateLimiteInscription ) }}">Date limite de l'inscription: </label>
                <input type="datetime-local"
                       id="{{ field_name( sortieForm.dateLimiteInscription ) }}"
                       name="{{ field_name( sortieForm.dateLimiteInscription ) }}"
                       value="{{ field_value( sortieForm.dateLimiteInscription ) }}"
                       placeholder="{{ field_label( sortieForm.dateLimiteInscription ) }}"
                       class="form-control"
                >

                <label for="{{ field_name( sortieForm.nbInscriptionsMax ) }}">Nombre de places: </label>
                <input type="text"
                       id="{{ field_name( sortieForm.nbInscriptionsMax ) }}"
                       name="{{ field_name( sortieForm.nbInscriptionsMax ) }}"
                       value="{{ field_value( sortieForm.nbInscriptionsMax ) }}"
                       placeholder="{{ field_label( sortieForm.nbInscriptionsMax ) }}"
                       class="form-control"
                >

                <label for="{{ field_name( sortieForm.duree ) }}">Durée: </label>
                <input type="number"
                       id="{{ field_name( sortieForm.duree ) }}"
                       name="{{ field_name( sortieForm.duree ) }}"
                       value="{{ field_value( sortieForm.duree ) }}"
                       placeholder="{{ field_label( sortieForm.duree ) }}"
                       class="form-control"
                >

                <label for="{{ field_name( sortieForm.infosSortie ) }}">Description et infos: </label>
                <input type="text"
                       id="{{ field_name( sortieForm.infosSortie ) }}"
                       name="{{ field_name( sortieForm.infosSortie ) }}"
                       value="{{ field_value( sortieForm.infosSortie ) }}"
                       placeholder="{{ field_label( sortieForm.infosSortie ) }}"
                       class="form-control"
                >


            </div>
            <button type="submit" class="btn btn-sm btn-primary">
                {{ sortieForm.vars.value.id == null ? 'Créer une sortie' : 'Modifier' }}
            </button>

            {{ form_end(sortieForm) }}
        </div>
    </div>
{% endblock %}


